// These colors are specific to the theme. Do not use in a package!

@very-light-gray: rgb(212,215,214);
@light-gray: rgb(65,83,91);
@gray: #858d8a;
@dark-gray: #282a2e;
@very-dark-gray: rgb(21,23,24);


@blue: #69cbf2;
@green: #a7e739;
@dark-green: rgba(99,145,18,0.8);
@yellow: #f0d939;
@orange: orange;
@pink: #f408b8;
@red: #e53239;
@purple: #bb8ee0;

@cyan: #69cbf2;
@light-orange: orange;

@white: rgb(212,215,214);
