// These colors are specific to the theme. Do not use in a package!

@very-light-gray: rgb(255,255,255);
@light-gray: rgb(90,90,90);
@gray: #858d8a;
@dark-gray: #6b6b6b;
@very-dark-gray: rgb(0,0,0);

@blue: #3de8ff;
@green: #a1ff00;
@dark-green: rgba(99,145,18,0.9);
@yellow: #ffdf00;
@orange: rgb(255, 153, 0);
@pink: #ff00be;
@red: #ff3840;

@dark-red: rgba(229, 50, 57,0.9);
@middle-red: rgba(229, 50, 57,0.9);
@middle-green: rgba(99,145,18,0.9);

@purple: #be6fff;

@cyan: #3de8ff;
@light-orange: rgb(255, 153, 0);

@white: rgb(255,255,255);
